---
layout: blog_default
title: Blog
permalink: /blog/
---
<div class="container blog-container">
  {% if site.posts.size == 0 %}
    <p class="blog-empty">还没有文章，敬请期待 ✨</p>
  {% else %}
    <ul class="blog-list">
      {% for post in site.posts %}
        <li class="blog-list-item">
          <a class="blog-list-link" href="{{ post.url | relative_url }}">
            <span class="blog-list-title">{{ post.title }}</span>
            <span class="blog-list-meta">
              <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
              {% assign word_count = post.content | strip_html | strip_newlines | replace: " ", "" | size %}
              <span class="blog-list-words">{{ word_count }} 字</span>
              {% if post.tags and post.tags.size > 0 %}
                <span class="blog-list-tags">
                  {% for tag in post.tags %}<span class="blog-list-tag">{{ tag }}</span>{% endfor %}
                </span>
              {% endif %}
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
