<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body class="{% if site.darkmode == true and site.darkmode != 'never' %}dark{% endif %}">

  {%- include header.html -%}

  <nav class="container site-nav no-print">
    <a href="{{ '/' | relative_url }}">← Resume</a>
  </nav>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include footer.html -%}
  {% if site.darkmode == false %}
    <script src="{{ '/assets/js/index.js' | relative_url }}"></script>
  {% endif %}
</body>

</html>
